.brew-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 6px;
}

.brew-cards .card-item {
    width: 250px;
    margin: 15px;
}



.brew-cards .card img {
max-width: 200px;
  max-height: 142px;
  border-radius: 50%;
  margin: 5px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
