.town-header {
  text-align: center;
  border-style: double;
  border-radius: 2em;
  border-color: #dc6900;
  margin: 1% 24%;
}

.town-header img {
  width: 100px !important;
  height: 100px !important;
  padding: 3px 3px;
}

.town-div img {
  max-height: 300px;
  max-width: 400px;
}

.town-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  row-gap: 25px;
  column-gap: 200px;
}

.card .featured-town-image {
  width: 300px !important;
  height: 275px !important;
  border-radius: 50%;
  margin: 0 auto;
}

.card .featured-town-image {
  width: 300px !important;
  height: 275px !important;
  border-radius: 50%;
  margin: 0 auto;
}
