.town-header {
  text-align: center;
  border-style: double;
  border-radius: 2em;
  border-color: #dc6900;
  margin: 1% 24%;
}

.town-header img {
  width: 120px;
  height: 120px;
  padding: 3px 3px;
}

.town-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  row-gap: 25px;
  column-gap: 200px;
}
