.review-card {
  transition: none !important;
}

.review-card:hover {
  transform: none !important;
  box-shadow: none !important;
}

.review-card .button {
  padding-top: 5px;
}

.review-card-header {
  background-color: #eb8c00 !important;
  color: white !important;
}

.form-control:focus {
  border-color: #a32020 !important;
  box-shadow: 0 0 0 0.25rem rgba(163, 32, 32, 0.4) !important;
}

.form-check-input:checked {
  background-color: #a32020 !important;
  border-color: #a32020 !important;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(163, 32, 32, 0.25) !important;
}
