.search-header {
  text-align: center;
  border-style: double;
  border-radius: 2em;
  border-color: #dc6900;
  margin: 1% 28%;
}

.search-header img {
  width: 100px;
  height: 100px;
  margin: 0px 15px;
  padding: 3px 3px;
}

.form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.form-label {
  display: block;
  text-align: center !important;
  color: #602320 !important;
  font-size: 18px;
  font-weight: bold !important;
  margin: 8px 18px !important;
}

.form-control:focus {
  border-color: #a32020 !important;
  box-shadow: 0 0 0 0.25rem rgba(163, 32, 32, 0.4) !important;
}

::selection {
  background-color: rgba(163, 32, 32, 0.3);
}

.btn {
  border-radius: 2em !important;
  background-color: #602320 !important;
  border-color: black !important;
  color: #ffffff !important;
  padding: 0.5em 1.5em !important;
  margin: 10px 15px !important;
  transform: scale(1) !important;
}

.btn:hover {
  background-color: #a32020 !important;
  color: #ffffff !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
  transform: scale(1.01) !important;
}

#button-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.accordion-div {
  margin: 0% 20%;
}

.accordion {
  --bs-accordion-active-bg: rgba(235, 140, 0, 0.9) !important;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(220, 105, 0, 0.9) !important;
}

.accordion-button {
  height: 4em;
}
